.blockOcode {
    margin: 0 auto !important;
}

.blockOcode .contain {
    line-height: 1.75;
}

.blockOcode .contain h1 {
    line-height: initial;
}

.blockOcode .contain h2,
.blockOcode .contain h3,
.blockOcode .contain h4,
.blockOcode .contain h5 {
    margin: 3rem 0 1.38rem;
    padding: 0;
    font-weight: 600;
    line-height: 1.3;
}

.blockOcode .contain h2 {
    font-size: 2.441rem;
}

.blockOcode .contain h3 {
    font-size: 1.953rem;
}

.blockOcode .contain h4 {
    font-size: 1.563rem;
}

.blockOcode .contain h5 {
    font-size: 1.25rem;
    text-align: left;
}

.blockOcode .contain section>div>h2:first-child {
    margin-top: 0;
}

.blockOcode h2.accented:after {
    top: 0;
}

.blockOcode .contain section>div>h2.accented {
    margin-top: 1.953rem;
}

.blockOcode p,
.blockOcode ul,
.blockOcode ol {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.blockOcode p.text_small {
    font-size: 0.8rem;
}

.blockOcode ul {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.9em' viewBox='0 -64 512 512'%3E%3Cpath d='M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z'/%3E%3C/svg%3E");
}
.blockOcode ul.fa-ul {
    list-style-image: none;
}
.blockOcode ul.fa-ul>li {
    list-style-type: none;
}

.blockOcode .hero-text p {
    font-size: 1.125rem;
    margin-bottom: 6px;
}

.blockOcode .uwa-hero {
    margin-bottom: 2rem;
}

.blockOcode .uwa-hero.small {
    height: 200px;
}

.blockOcode .section {
    margin-top: 3rem;
}

.blockOcode .breadcrumbs {
    padding: 0;
    margin-bottom: 2rem;
    line-height: initial;
}

.blockOcode .featureditems {
    margin-bottom: 2rem;
}

.blockOcode #indexForm {
    width: 100%;
    margin-top: 0;
    margin-bottom: calc(3rem + 10px);
}

.blockOcode .uwa-links {
    justify-content: unset;
}

.blockOcode .text-box h2 {
    margin: 0;
}

.blockOcode .text-box-right {
    min-width: 50%;
}

.blockOcode .text-box h4 {
    margin-top: 0;
    padding: 0 20px;
}

.blockOcode .text-box p {
    margin: 0 0 1rem;
    padding-left: 24px;
}

.blockOcode .text-box-right p:last-child,
.blockOcode .text-box-right ul:last-child,
.blockOcode .text-box-right ol:last-child {
    margin-bottom: 0;
}

.blockOcode .collection-section h2 {
    margin: 3rem 0;
}

.blockOcode #collectionwidget div.metaCont {
    line-height: normal;
}

.blockOcode .img-box img {
    height: auto;
}

/* Browser widget (Item counts) */

#browser {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
    line-height: normal;
}

#browser a {

    background-color: #fff !important;
    color: initial !important;
    display: flex !important;
    position: relative !important;
    padding: 1rem !important;
    margin: 0 !important;
    border-radius: 0 !important;
    text-decoration: none !important;
    min-width: auto !important;
    min-height: auto !important;
    height: 150px;
    flex-flow: column-reverse;
    justify-content: flex-end;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 4px 0px 0px #d1d1d1;
    flex: 1 1 20%;
    transition: background-color 0.1s ease-in-out;
    overflow: hidden;
}

#browser a>* {
    position: relative;
    z-index: 2;
}

#browser a:hover {
    background-color: #f0dd99 !important;
}

#browser a span.b_title {
    font-size: 1rem !important;
    font-weight: 400 !important;
    white-space: normal !important;
}

#browser a span.b_title:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    content: '\f054';
    padding-left: 0.6rem;
}

#browser a span.b_count {
    font-size: 2.441rem !important;
    font-weight: 600 !important;
    white-space: nowrap !important;
    margin-bottom: -0.5rem;

}

#browser a:before {
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d1d1d1;
    position: absolute;
    bottom: -22px;
    right: -2px;
    font-size: 6rem;
    transition: color 0.1s ease-in-out;
}

#browser a:hover:before {
    color: #DAAA00;
}

/* Artwork icon */
#browser .nodetype8:before {
    content: "\f1fc";
    bottom: -12px;

}

/* Audio icon */
#browser .nodetype3:before {
    content: "\f025";
}

/* Collection icon */
#browser .nodetype7:before {
    content: "\f187";
}

/* Contributor icon */
#browser .nodetype6:before {
    content: "\f2be";
}

/* Document icon */
#browser .nodetype4:before {
    content: "\f0f6";
}

/* Ephemera icon */
#browser .nodetype10:before {
    content: "\f0c6";
}

/* Event icon */
#browser .nodetype17:before {
    content: "\f133";
}

/* Exhibition icon */
#browser .nodetype18:before {
    content: "\f145";
}

/* Map icon */
#browser .nodetype12:before {
    /* content: "\f0ac"; */
    content: "\f278";
}

/* Object icon */
#browser .nodetype11:before {
    content: "\f1b2";
}

/* Oral history icon */
#browser .nodetype20:before {
    /* content: "\f10e"; */
    content: "\f0e6";
    bottom: -8px;
}

/* Organisation icon */
#browser .nodetype19:before {
    /* content: "\f0f7"; */
    content: "\f19c";
}

/* People icon */
#browser .nodetype23:before {
    content: "\f0c0";
}

/* Photograph icon */
#browser .nodetype13:before {
    content: "\f03e";
}

/* Place icon */
#browser .nodetype22:before {
    content: "\f041";
    right: 16px;
    bottom: -10px
}

/* Plan and technical drawing icon */
#browser .nodetype14:before {
    content: "\f044";
}

/* Score icon */
#browser .nodetype15:before {
    content: "\f001";
    right: 16px;
    bottom: -8px;
}

/* Serial icon */
#browser .nodetype24:before {
    content: "\f1ea";
}

/* Timeline icon */
#browser .nodetype21:before {
    content: "\f017";
}

/* Video icon */
#browser .nodetype16:before {
    content: "\f03d";
    /* content: "\f008"; */
    right: 10px;
}

/* Show all icon */
#browser .nodetype0:before {
    content: "\f16b";
}

/* #browser .nodetype0 {
    display: none;
} */

#browser .nodetype0>.b_title {
    visibility: hidden;
    font-size: 0 !important;
}

#browser .nodetype0>.b_title:before {
    content: 'Total items';
    visibility: visible;
    font-size: 1rem;
}

#browser .nodetype0>.b_title:after {
    visibility: visible;
}

.blockOcode .feature-contact {
    width: 100%;
    background-color: #d1d1d1;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.blockOcode .feature-contact-info {
    width: calc(50% - 2rem);
    padding: 2rem 2rem 1.5rem;
}

.blockOcode .feature-contact-info h2 {
    margin-top: 0;
}

.blockOcode .feature-contact-map {
    width: 50%;
}

.blockOcode .feature-contact-map iframe {
    border: none;
}

/* Contact us page */
body[data-recollect-page="-pages-test-contact"] .blockOcode_block {
    width: 90%;
}

body[data-recollect-page="-pages-test-contact"] .blockOcode_block>div {
    padding: 0 !important;
}

body[data-recollect-page="-pages-test-contact"] .blockOcode_block .heading1 {
    display: none;
}

body[data-recollect-page="-pages-test-contact"] .blockOcode_block input,
body[data-recollect-page="-pages-test-contact"] .blockOcode_block textarea {
    font-family: inherit;
}

body[data-recollect-page="-pages-test-contact"] .blockOcode_block div.submit {
    text-align: initial;
}

@media only screen and (max-width: 1200px) {
    body[data-recollect-page="-pages-test-contact"] .blockOcode_block {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1150px) {
    .blockOcode h1 {
        font-size: 2.074rem !important;
    }

    .blockOcode h2 {
        font-size: 1.728rem !important;
    }

    .blockOcode h3 {
        font-size: 1.44rem !important;
    }

    .blockOcode h4 {
        font-size: 1.2rem !important;
    }

    .blockOcode h5 {
        font-size: 1rem !important;
    }

    .blockOcode small,
    .blockOcode .text_small {
        font-size: 0.833rem !important;
    }

    .blockOcode .hero-text p {
        font-size: 1rem !important;
        margin-bottom: 6px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .blockOcode .text-box {
        padding-bottom: 40px;
    }

    .blockOcode .text-box-left {
        margin: 20px 20px 1.38rem;
    }

    .blockOcode .text-box p {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 790px) {
    .blockOcode {
        padding-bottom: 2em;
    }

    .blockOcode .uwa-hero {
        height: auto;
    }

    #browser {
        flex-direction: column;
    }

    #browser a {
        flex-flow: row-reverse;
        flex-basis: 48px;
        align-items: flex-end;
    }

    #browser a:before {
        bottom: -8px !important;
        right: -4px;
        font-size: 4.5rem;
    }

    #browser a span.b_count:after {
        content: '\a0';
    }

    #browser a span.b_title {
        max-width: 50%;
        margin-bottom: -2px;
    }

    .blockOcode .feature-contact {
        flex-direction: column;
    }
    .blockOcode .feature-contact-info, .blockOcode .feature-contact-map {
        width: auto;
    }
    .blockOcode .feature-contact-info {
        padding: 1.5rem 1.5rem 1rem;
    }
    
}